@CHARSET "UTF-8";
/*** Ecrasement du Thème Jquery ***/
.ui-widget-content-transparent { 
	border: 1px solid #72b42d;
	background-color: rgba(40, 92, 0, 0.6);
	color: #ffffff;
	background-image:none;
}

/* Progressbar */
.ui-progressbar { height:10px; text-align: left; }

/*** Le Site ***/

h1 {
	font-style:italic;
	margin:0;
	padding-bottom:20px;
	padding-top:10px;	
	text-align:center;
	color:#285c00;
	background:rgba(121,196,145,0.2);
	border-bottom:1px solid green;
}

body {
	background-image:url('../../images/carre.jpg');
	background-color:#79c42d; 
	font-family: 'Ubuntu',Lucida Grande, Lucida Sans, Arial, sans-serif;
}

#loading-img {
	position: absolute;
	background-image:none;
	left:479px;
	top:200px;
	padding:5px;
	z-index:1100;
}

#widget_message_information {
	position:fixed;	
	margin-top:4px;
	margin-bottom:5px;
	width:400px;
	margin-left:-200px;
	left:50%;
	z-index:2000;
}

#message_information {
	padding: 0 .7em;
	font-size:10.5pt;
	box-shadow: 0 0 20px #555;
}

#icone {
	float:left;
	margin-right:.3em;	
}

#message_information p {
	margin-top:3px;
	margin-bottom:3px;
}

#message_information div {
	cursor:pointer; 
	float:right;
	text-align:right;
	margin-top:4px;
}


#site {
	position:absolute;
	width:1000px;
	top:0;
	left:50%;
	margin-left:-500px;
	background-color:#79c42d; 
	background-image:url('../../images/herbe.jpg');
	background-repeat:no-repeat;
	min-height:600px;
	padding-bottom:30px;
	border:7px solid #b5f256;
}

#contenu{
	margin-top:20px;
	margin-left:10px;
	width:980px;
}


/*********** Classes communes ************/
.com-div-ext, .com-div-ext-top {
	margin-top:20px;
	width:990px;
}

.com-div-ext, .com-div-ext-left {
	margin-left:5px;
	width:990px;
}

.com-button {
	text-decoration:none;
	padding:3px;
	cursor:pointer;
}

.com-center {
	text-align:center;
}

.com-input-text {
	padding:2px 7px;
}

.com-input-select {
	cursor:pointer;
}

.com-widget-window {
	padding: 5px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom:10px;
}

.com-widget-header {
	padding:1px 4px;
	margin-bottom:10px;
}

.com-widget-content {
	margin-top:2px;
}

.com-table {
	margin-bottom:5px;
	width:100%;
	border-collapse:collapse;	
	text-align:left;
}

.com-table-100 {
	margin-bottom:5px;
	width:100%;
	border-collapse:collapse;	
	text-align:left;
}

.com-table tr:hover {
	background-color:#4eb305;
}

.com-table-td, .com-table-td-debut, .com-table-td-med, .com-table-td-fin, .com-table-th, .com-table-th, .com-table-th-debut, .com-table-th-med, .com-table-th-fin{
	padding: 2px 3px;
	font-size:11pt;
}

.com-table-td, .com-table-th {
	border:1px solid white;
}

.com-table-td-med, .com-table-th-med {
	border-top:1px solid white;
	border-bottom:1px solid white;
}

.com-table-td-debut, .com-table-th-debut {
	border-left:1px solid white;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

.com-table-td-fin, .com-table-th-fin {
	border-right:1px solid white;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

.com-table-form {
	margin-top:10px;
	margin-bottom:5px;
	width:100%;
	text-align:left;
}

.com-table-form-td {
	padding: 2px 0px;
	vertical-align:top;
}

.com-table-form-th {
	padding-left:5px;
	vertical-align:top;
}

.com-ligne-submit {
	padding-top:15px;
	padding-bottom:5px;
}

.com-float-left {
	float:left;
}
.com-clear-float-left {
	clear:left;
}

.com-float-right {
	float:right;
}

.com-clear-float-right {
	clear:right;
}

.com-td-lien-bouton {
	padding:10px 0;
}

.com-infobulle {
	width: 310px;	
}

.com-ligne-hover:hover {
	background-color:#4eb305;
}

.com-nombre-negatif{color:red;}

.com-cursor-pointer {cursor: pointer;}
.com-text-align-right {text-align:right;}

.com-underline-hover:hover {text-decoration:underline;}
.header	.span-icon { background-position: -128px -16px; position:relative; float:left;}
.headerSortUp .span-icon { background-position: -64px -16px; }
.headerSortDown .span-icon { background-position: 0 -16px; }
.ui-widget-shadow {position:absolute;} 


.com-msg-confirm-icon {
	padding-left:320px;
}

.com-msg-confirm-icon .ui-icon {
	margin-right:4px;
}

.com-btn-edt-multiples {
	margin-right:100px;
}

.com-btn-header, .com-btn-header-multiples, .com-btn-header-text {
	position:relative;
	float:right;
	cursor: pointer;
}

.com-btn-header-multiples, .com-btn-header-text {
	margin-right:4px;
}

.com-btn-header, .com-btn-header-multiples {
	margin-top:1px;
}

.com-btn-header-text {
	font-size: 10pt;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
}

.com-barre-menu-2 {
	position: absolute;
	margin-top: -54px;
}

.recherche .filter {
    height: 20px;
    width: 182px;
}