@CHARSET "UTF-8";

#table-info-solde-zeybu {
	margin-left:15px;
	margin-bottom:10px;
}

#td-solde-zeybu-total {
	width:180px;
}

#td-solde-zeybu-caisse {
	width:230px;
}

#td-solde-zeybu-banque {
	width:240px;
}

/*.recherche .filter {
	height:20px;
	width:182px;
}*/

#btn-virement-solidaire-inverse {
	margin-top:20px;
}