@CHARSET "UTF-8";
/*ListeAdherent*/
/*#liste-adh-recherche {
	left:50%;
	margin-left:-107px;
	margin-top:10px;
	position:relative;
	width:214px;
}*/
/*
#liste-adh-recherche input{
	border-right:none;
}*/
/*
.liste-adh-span-rech-right {
	height:20px;
	padding-top:4px;
	position:relative;
	float:right;
}*/

.liste-adh-th-num {
	width:60px;
}

.liste-adh-th-cpt {
	width:80px;
}

.liste-adh-th-nom {
	width:225px;
}

.liste-adh-th-solde {
	text-align:center;
}

.liste-adh-td-solde {
	width:100px;
	text-align:right;
}