@CHARSET "UTF-8";
/* ModifierMonCompteHTML */
#widget_message_information {
	left:0;
	position:relative;
	margin-left:300px;	
	font-style:normal;
	font-weight:normal;
	text-align:left;
}

.message-erreur-champ {
	margin:5px;
	padding:3px;
}

#dialog-edt-info-cpt {
	margin-left:268px;
	width:454px;
}