@CHARSET "UTF-8";
/*EditerCommande*/
#edt-com-info {
	width:300px;
	margin-right:10px;
}

#edt-com-liste {
	width:670px;
}

.edt-com-progressbar-pdt {
	margin-top:10px;
	margin-bottom:10px;
	height: 12px;
}

.edt-com-info-progressbar-pdt {
	float:left;
	text-align:center;
	font-size:8pt;
	font-weight:bold;
	width:100%;
}

.edt-com-span-rech-right {
	height:20px;
	padding-top:4px;
	position:relative;
	float:right;
}

#edt-com-nav-resa-achat {
	text-align:center;
	width: 670px;
	padding-top: 3px;
}

#edt-com-nav-resa-achat span{
	padding: 3px 5px;
	font-weight: bold;
}

/*.edt-com-btn-edt-commande {
	margin-right:4px;
}*/

/*.edt-com-btn-detail-pdt{
	position:relative;
	float:right;
	margin-top:1px;
}*/