@CHARSET "UTF-8";

#resultat-marche-archive {
	margin-bottom:15px;
	margin-top:15px;
}

#resultat-marche-archive span{
	font-size:11pt;
}

#info-marche-archive tr:hover {
	background-color:transparent;
}