@CHARSET "UTF-8";

#formulaire_ajout_producteur {
	width:700px;
	margin-left:150px;
}

#formulaire_ajout_producteur table {
	margin-left:50px;
	width:575px;
}

#formulaire_ajout_producteur table th {
	width:300px;
}