@CHARSET "UTF-8";

.entete-numero-achat {
	display:inline-block;
	width:250px;
}

#select-ferme {
	width:370px;
}

#achat-catalogue-produit {
	float:left;
	width:250px;
}

#achat-detail {
	float: left;
	margin-left: 3px;
	width: 711px;
}

.achat-detail-ref {
	width:75px;
}

.achat-detail-nom {
	width:260px;
}

.achat-detail-quantite {
	width:138px;
}

.achat-detail-montant {
	width:80px;
}

.achat-detail-unite {
	width:72px;
}

#btn-enregistrer-modifier-achat, #btn-supprimer-achat {
	margin-left:100px;
}

#form-recherche-liste-achat #dateDebut, #form-recherche-liste-achat #dateFin {
	width:80px;
}
#form-recherche-liste-achat #dateFin {
	margin-right:20px;
}
#form-recherche-liste-achat #idMarche {
	width:130px;
	margin-right:25px;
}