@CHARSET "UTF-8";

#formulaire_identification_int {
	margin-left:320px;
	margin-top:150px;
}

.action-ifb {
	color:#3A8104;
	text-decoration:underline;
}

#liste-naviguateur {
	margin-top: 20px;
}

#liste-naviguateur a{
	text-decoration:none;
}

#liste-naviguateur a:hover{
	text-decoration:underline;
}

#liste-naviguateur img{
	border:none;
}

#naviguateur-1 {
	margin-left: 250px;
}