@CHARSET "UTF-8";

#table-info-solde-zeybu {
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
}

#td-solde-zeybu-total {
	width:180px;
}

#td-solde-zeybu-caisse {
	width:230px;
}

#td-solde-zeybu-banque {
	width:240px;
}

/*.recherche .filter {
	height:20px;
	width:182px;
}*/

#btn-virement-solidaire-inverse {
	margin-top:20px;
}

#form-recherche-liste-operation #dateDebut, #form-recherche-liste-operation #dateFin {
	width:80px;
}
#form-recherche-liste-operation #dateFin {
	margin-right:20px;
}
#form-recherche-liste-operation #idMarche {
	width:130px;
	margin-right:25px;
}