@CHARSET "UTF-8";
/*MarchéCommande*/
.recherche {
	width:220px;
	margin-top:10px;
	position:relative;
	left:50%;
	margin-left:-110px;
}

.recherche .conteneur-icon {
	padding-left:3px;
	padding-top:4px;
	border-right:none;	
	height:20px;
	width:18px;
}

.recherche #filter {
	height:20px;
	width:182px;
}

.marche-com-th-num-adh {
	width:150px;
}

.marche-com-th-nom {
	width:300px;
}

#achat-pdt-widget, #achat-pdt-solidaire-widget {
	width:487px;
	margin-right:5px;
}

#achat-rechgt-widget {
	width:456px;
}
.achat-commande-table-pdt {
	width:100%;
}

.achat-commande-table-pdt .td-qte {
	width:80px;
}

.achat-commande-table-pdt .td-unite {
	width:90px;
}

#achat-info-marche {
float: left;
margin-left: 140px;
margin-right: 255px;
}